# Environment
.env

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/

# Node
node_modules/
frontend/dist/

#Java
*.class

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Bloqueio Definitivo de IDEs e Ferramentas
**/.vscode/
**/.project

# Bloqueio de Pastas de Compilação e Binários
**/Back/api/bin/
**/*.class
**/bin/

# Bloqueio de Dockerfiles e Configurações de Servidor específicos
**/Back/api/Dockerfile
**/Front/Dockerfile
**/Front/entrypoint.sh
**/Front/nginx.conf


# Bloqueio de Arquivos Compactados/Imagens geradas
**/*.tar
**/Back/api/sofia-backend.tar
**/Front/sofia-front.tar
